.full-screen-modal-content {
  border-radius: 0 !important;
}

@media (max-width: 768px) {
  .full-screen-modal-container {
    margin: 0;
    max-width: 100%;
  }

  .full-screen-modal-content {
    border-radius: 0 !important;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
  }
}

.confirmation-modal-content {
  border-radius: 0.6rem !important;
}

@media (max-width: 575px) {
  .confirmation-modal-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
