.full-screen-modal-content {
  border-radius: 0 !important;
  max-height: calc(100vh - 20vh);
}


@media (min-width: 1200px) {
  .modal.fade.top.show {
    width: calc(100% - 200px);
    left: unset;
    top: unset;
  }
}

@media (min-width: 576px) {
  .full-screen-modal-container {
    max-width: 700px;
    margin: auto
  }
}

@media (max-width: 768px) {
  .full-screen-modal-container {
    margin: 0;
    max-width: 100%;
  }

  .full-screen-modal-content {
    border-radius: 0 !important;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
  }
}

.confirmation-modal-content {
  border-radius: 0.6rem !important;
}

@media (max-width: 575px) {
  .confirmation-modal-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
